.pawn-white {background-image: url(Piece_Set_1/w_pawn.png);}
.pawn-black {background-image: url(Piece_Set_1/b_pawn.png);}
.bishop-white {background-image: url(Piece_Set_1/w_bishop.png);}
.bishop-black {background-image: url(Piece_Set_1/b_bishop.png);}
.knight-white {background-image: url(Piece_Set_1/w_knight.png);}
.knight-black {background-image: url(Piece_Set_1/b_knight.png);}
.rook-white {background-image: url(Piece_Set_1/w_rook.png);}
.rook-black {background-image: url(Piece_Set_1/b_rook.png);}
.queen-white {background-image: url(Piece_Set_1/w_queen.png);}
.queen-black {background-image: url(Piece_Set_1/b_queen.png);}
.king-white {background-image: url(Piece_Set_1/w_king.png);}
.king-black {background-image: url(Piece_Set_1/b_king.png);}
.chesspiece {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 200ms;
}